<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vieil'art</title>
</head>

<body>

<div id="wrap">

  <div id="nav">
        <ul class="menu">
          <li class="current_page_item"><a href="/">Home</a></li>
          <li><a href="/spectacles">Spectacles</a></li>
          <li><a href="/festival">Festival Flocons d'Art</a></li>
          <li><a href="/ateliers">Ateliers</a></li>
          <li><a href="/artistes">Les artistes</a></li>
          <li><a href="/contact">Contact</a></li>

        </ul>
      </div>



<div id="header"></div>


{{ block "main". }}
{{ end }}

<div id="footer">
© Compagnie du Vieil'Art.

 <div id="fb"><a href="https://www.facebook.com/pages/Cie-du-VieilArt/142455875927834?fref=ts"><img src="/img/fbico.png" alt="Facebook" width="40" height="34" title="Facebook" /></a></div>
 </div>

</div>
</body>
