{{ define "main" }}
<div id="news">
<h1>Présentation de la compagnie</h1>
<p><strong>L</strong>e Vieil' Art a été créé en septembre 2013 sous la présidence de Juliette Perdrix. Il s'inscrit sur le territoire
lyonnais. Il réunit deux jeunes artistes comédiennes : Marion Guénal et Ophélie Raveaud. l'artiste Céline Ansel designer/scénographe a
donné l'identité visuelle de la compagnie. </p><br />

<p><strong>L</strong>e Vieil' Art cherche à explorer et promouvoir la transversalité des arts. Un mélange artistique pluridisciplinaire
est proposé aux spectateurs. Artistes plasticiens, graphistes, musiciens, danseurs... Autant de talents qui rejoignent les comédiennes
 de la compagnie au gré de leurs projets et de leurs besoins.  </p><br />



<p><br /><strong>L</strong>a compagnie du Vieil' Art crée ses spectacles, de la mise en scène au jeu scénique. Après deux années
d'existence, elle a déjà quatre spectacles à son actif. Le Vieil' Art c'est aussi des ateliers, notamment envers le public
scolaire, pour assurer la transmission de l'art. Enfin, c'est un festival : « Flocons d'Art », organisé deux années consécutives,
qui permet de réunir diverses compagnies et collectifs artistiques émergents.<br /><br />

</div>
<div id="images">
<img src="img/T34.jpg"/></div>




<div id="partenaires"> <h2>Partenaires</h2>

	<ul class="partnr-list">
		<li><a href="http://aremacs.com/index.php" target="_blank"><img src="img/img-partenaires/aremacs.jpg" alt="Aremacs" title="Aremacs" /></a></li>

		<li><a href="http://www.kraft-productions.com/" target="_blank"><img src="img/img-partenaires/kraftProd.jpg" alt="Kraft production" title="Kraft production" /></a></li>

        <li><a href="http://www.lanslebourg-montcenis.fr/" target="_blank"><img src="img/img-partenaires/mairieLanslebourg.jpg" alt="Lanslebourg Mont Cenis" title="Lanslebourg Mont Cenis" /></a></li>

        <li><a href="http://www.lesallumes.org/" target="_blank"><img src="img/img-partenaires/allumésLanterne.jpg" alt="Les allumés de la lanterne" title="Les allumés de la lanterne" /></a></li>


         <li><a href="http://www.friche-lamartine.org/" target="_blank"><img src="img/img-partenaires/laMartine.jpg" alt="Lamartine" title="Lamartine" /></a></li>


          <li><a href="http://www.grandlyonhabitat.fr/" target="_blank"><img src="img/img-partenaires/grandLyonHabitat.jpg" alt="Grand Lyon habitat" title="Grand Lyon habitat" /></a></li>
         <li><img src="img/img-partenaires/complexeDuCrabe.jpg" alt="Complexe du crabe" title="Complexe du crabe" /></a></li>
</ul></div>


{{ end }}
