{{ define "main" }}

<h1> Les ateliers.</h1><br />

<p>Toujours dans cette idée de transmission de l’art envers tous les publics, la Cie du Vieil’Art a
desservi, durant toute l’année, une série d’ateliers artistiques. <br />
En lien avec les spectacles ou dans le cadre de la réforme des rythmes scolaires, le Vieil’Art a pu
transmettre ses pratiques à différents publics et territoires.</p><br />

<h2>Les Ateliers dans le cadre du périscolaire.</h2><br />

<p>A la rentrée 2013, Le Vieil’ Art s’est vu proposer, suite aux réformes de l’éducation nationale
concernant l’éducation artistique au sein des groupements scolaires, une série d’ateliers
marionnettes pour des enfants de maternelle de la ville de Feyzin.<br />
Proposition faite par le théâtre des Allumés de la Lanterne, théâtre jeune public du premier
arrondissement de Lyon, en partenariat avec l’association de danse Sur un plateau, également issue
du même arrondissement de Lyon.<br />
Depuis septembre 2013, la Cie dessert ces ateliers de manière hebdomadaire, hors temps de
vacances scolaires, plusieurs fois par semaine au sein de diverses écoles maternelles de la commune
de Feyzin comme indiqué ci-dessous.<br />
Ces ateliers comprennent différentes phases. Partant d’une histoire lue aux enfants, ceux-ci passent
ensuite à un cycle de construction du personnage choisi au sein du récit pour terminer sur un temps
d’apprentissage de la manipulation de leur marionnette.</p><br />

<h2>Les ateliers en lien avec les spectacles.</h2><br />

<p>Toujours dans l’idée de transmettre aux publics leurs savoir-faire et de développer
l’école du « spec’acteur » actif, Le Vieil’Art aime à proposer, en parallèle de ses spectacles, des
ateliers artistiques en lien avec la pratique développée au sein de la prestation présentée. <br />
Dans ce cadre, la Vieil’Art a pu desservir divers ateliers pour petits... et grands comme présenté ci-
dessous.</p>


{{ end }}
