{{ define "main" }}
<div id="flocon">
<h1>Présentation du festival</h1>
<p>Dans le cadre de la deuxième édition du festival Flocons d’Art, Le Vieil’Art a décidé d’inviter cinq autres
compagnies et collectifs artistiques en émergence venant de Lyon. Ce projet se dessine sur quatre jours au
sein de l’Espace Val Cenis Vanoise et sur les communes (rues, pieds de pistes, commerces… ) de Lanslebourg /Lanslevillard.<br />
Il comporte cinq « pôles d’actions » : des présentations de spectacles vivants en intérieur et en extérieur, des
expositions, des projections filmiques, une série d’ateliers en lien avec les deux premiers pôles et une soirée
musicale clôturant le festival. Un mélange artistique pluridisciplinaire qui composera le programme de cette
deuxième édition détaillé ci-dessous.</p>

<h2> But du festival</h2>
<p> Promouvoir des jeunes artistes et compagnies artistiques de la région
Rhône-Alpes, à travers la dynamique du territoire culturel de Haute
Maurienne Vanoise.</p>


<h4><p>Vous pouvez à tout moment voir et télécharger le programme 2015 du festival
<a href="/img/Programme flocons d'art 2015.pdf" target="_blank">en cliquant sur ce lien.</a></p></h4>
</div>

<div id="images">
<img src="/img/flocon.jpg"/></div>


{{ end }}
