{{ define "main" }}

<div id="CadreContenu" >
				<div class="TiskaCadre">
				  <img src="/img/TiskaCadre.jpg" />
					 <p>Mana, maître des marionnettes, aime conter
des histoires aux petits et aux grands.
Celle qu’elle a choisi de vous présenter ici, grâce à ses
acolytes inanimés, nous raconte l’histoire de Tiska,
petite danseuse... <a href="articles/article-Tiska.php">lire la suite...</p></a></div>

				<div class="BertCadre">
<img src="/img/BertCadre.jpg" />
					 <p>Personnage décalé. Mi-vieille fille, mi-enfant, sortie d’ici ou de Mars...
Personne ne sait, ne peut dire d’où elle apparaît.
Mais sous ses airs risibles, se cache une grande ingéniosité.
Tantôt moqueuse...<a href="/articles/article-Bert.php">lire la suite...</p></a></div>
				</div>

			</div>


{{ end }}
